<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
    <meta name="author" content="AdminKit">
    <meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">
    <link rel="preconnect" href="~/fonts.gstatic.com/index.html">
    <link rel="shortcut icon" href="~/img/icons/icon-48x48.png" />
    <link rel="canonical" href="index.html" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <title>
        Nurse Call Dashboard
    </title>
    <link href="~/fonts.googleapis.com/css274d5.css?family=Inter:wght@300;400;600&amp;display=swap" rel="stylesheet">
    <style>
        .RoomCls {
            min-width: 170px !important;
            min-height: 110px !important;
            padding: 0px !important;
            display: inline-block;
            z-index: 1000;
        }

        .bed h2, h3, i {
            font-weight: bolder;
            color: white;
            z-index: 1000;
        }

        .draggable-heading {
            display: inline-block;
            font-weight: bolder;
            text-align: center;
            color: white !important
        }

            .draggable-heading > h2 {
                color: white !important
            }

        .room-label {
            font-weight: bolder;
            text-align: center;
            color: white !important;
            z-index: 1000; 

        }

        .floor {
            padding: 10px;
        }

        body {
            text-align: center;
        }

        .bed {
            box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
            margin: 10px;
            text-align: center;
            min-width: 150px;
            float: left;
            z-index: 1000;
        }

        #draggable {
            cursor: n-resize;
        }

        h3 {
            clear: left;
        }

        .square-grid {
            border: 20px ridge #4b7aad;
            background: #121d2a;
            background-image: linear-gradient(#162332 1px, transparent 2px), linear-gradient(90deg, #162332 1px, transparent 1px);
            background-size: 20px 20px;
            min-height: 557px;
            height: 100%;
        }

        .full-size {
        }

        .close {
            top: -5px;
            right: -10px;
            position: absolute;
        }

        .edit {
            top: -5px;
            right: 5px;
            position: absolute;
        }

        .floor-box {
            min-width: 100px;
            border: 2px ridge #4b7aad;
            min-height: 100px;
            background: white;
            position: relative;
        }

        div.full-screen {
            z-index: 9999;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }

        .text_container {
            z-index: 10;
        }

        .box_container, .text.container {
            display: inline-block;
        }
        .box-container {
            z-index: 10;
        }
        .full-icon {
            position: relative;
            top: 0px;
            color: white;
            float: right;
        }


        #containment-wrapper {
            width: 100%;
            position: relative;
        }

        .floor-object {
            position: absolute;
        }


    </style>
    <!-- Choose your prefered color scheme -->
    <!-- <link href="css/light.css" rel="stylesheet"> -->
    <!-- <link href="css/dark.css" rel="stylesheet"> -->
    <!-- BEGIN SETTINGS -->
    <!-- Remove this after purchasing -->
    <link class="js-stylesheet" href="~/css/light.css" rel="stylesheet">
    <link class="js-stylesheet" href="~/css/jquery-ui.min.css" rel="stylesheet">

    @RenderSection("RenderPageStyles", required: false)
    <!-- END SETTINGS -->
    <script async src="~/www.googletagmanager.com/gtag/jse143?id=UA-120946860-10"></script>
    <script>window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-120946860-10', { 'anonymize_ip': true });</script>
</head>
<!--
  HOW TO USE:
  data-theme: default (default), dark, light, colored
  data-layout: fluid (default), boxed
  data-sidebar-position: left (default), right
  data-sidebar-layout: default (default), compact
-->
@{
    string fileName = DateTime.Now.ToShortDateString();
}

<body data-theme="colored" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
    <!-- Modal -->
    <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar collapsed">
            <div class="sidebar-content js-simplebar">
                <ul class="sidebar-nav">
                    <a class="sidebar-brand" href="#">
                        <span class="sidebar-brand-text align-middle">
                            Nurse Call Monitor
                        </span>
                    </a>
                    @if (ViewData["Floors"] != null)
                    {
                        @foreach (var floorName in ViewData["Floors"] as IList<string>)
                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="@Url.ActionLink($"Index", "Home",new  { floorName= floorName})">
                                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">@floorName</span>
                                </a>
                            </li>
                        }
                    }

                </ul>
                <div class="sidebar-cta">
                    <div class="sidebar-cta-content">
                        <div class="d-grid">
                            <a href="@Url.ActionLink($"AddFloor", "Home")" class="btn btn-outline-primary">Add Floor</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        <li class="nav-item">
                            <a class="nav-icon js-fullscreen d-none d-lg-block" href="#">
                                <div class="position-relative">
                                    <i class="align-middle" data-feather="maximize"></i>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-icon pe-md-0 dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                <i class="fa fa-user fa-1x bg-info" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="@Url.ActionLink($"AddFloor", "Home",new { floorName= ViewData["FloorName"]}, protocol: "https")">
                                    <i class="align-middle me-1" data-feather=" "></i> Edit Floor
                                </a>
                                <div class="dropdown-divider"></div>
                                @*<span class="dropdown-item" href="@Url.ActionLink($"DeleteFloor", "Home",new { floorName= ViewData["FloorName"]}, protocol: "https")">
                                    <i class="align-middle me-1" data-feather=" minus-circle"></i> Delete Floor
                                </span>*@
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            @*<nav class="navbar navbar-expand navbar-light navbar-bg">
            <a class="sidebar-toggle js-sidebar-toggle">
                <i class="hamburger align-self-center"></i>
            </a>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav navbar-align">
                    <li class="nav-item">
                        <a class="nav-icon js-fullscreen d-none d-lg-block" href="#">
                            <div class="position-relative">
                                <i class="align-middle main-f-icon" data-feather="maximize"></i>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-icon pe-md-0 dropdown-toggle" href="#" data-bs-toggle="dropdown">
                            <i class="fa fa-user fa-1x bg-info" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            
                        </div>
                    </li>
                </ul>
            </div>
        </nav>*@
            @RenderBody()
            <div class="RoomCls   closeable selectable floor-object bg-primary" id="sample_bed_room" style="display:none">
                <div>
                    <div class="bed">
                        @*<h2 style="text-align: center;">
                        Bed 1
                    </h2>*@
                        <i class="fa fa-solid fa-bed fa-5x" style="text-align: center;"></i>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="room-label">
                    <h2>VIP ROOM 1</h2>
                </div>
                <i class="cursor-pointer fa-solid fa-pen-to-square edit"></i>
                <i class="cursor-pointer fas fa-trash close"></i>
            </div>
        </div>
    </div>
    <script src="~/js/app.js"></script>
    @*<script src="~/js/jquery-ui.js"></script>*@
    <script src="~/js/TweenMax.min.js"></script>
    <script src="~/js/gsapDraggable.js"></script>
    <script src="~/js/nursecall.js"></script>
    <script src="~/js/interactjs.js"></script>

    <script src="~/js/main.js?@Html.Raw(@fileName)"></script>
    <script src="~/js/signalr/dist/browser/signalr.js?@Html.Raw(@fileName)"></script>
    <script src="~/js/chat.js?@Html.Raw(@fileName)"></script>
    <script>document.addEventListener("DOMContentLoaded", function (event) {
            setTimeout(function () {
                if (localStorage.getItem('popState') !== 'shown') {
                    window.notyf.open({
                        type: "success",
                        message: "Get access to all 500+ components and 45+ pages with AdminKit PRO. <u><a class=\"text-white\" href=\"https://adminkit.io/pricing\" target=\"_blank\">More info</a></u> 🚀",
                        duration: 10000,
                        ripple: true,
                        dismissible: false,
                        position: {
                            x: "left",
                            y: "bottom"
                        }
                    });
                    localStorage.setItem('popState', 'shown');
                }
            }, 15000);
        });</script>
    @RenderSection("RenderPageScripts", required: false)

</body>
<!-- Mirrored from demo.adminkit.io/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 19 Mar 2022 12:07:39 GMT -->
</html>